@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: itim;
  }
  
  body {
    background-color: #2B2F31 !important;
  }
  .nav-background-color
  {
    background-color:#52585C !important;
  }
  .text-color{
    color: #E8E6E3 !important;
  }
  .separater{
    background-color: #2A2A2A !important;
  }